<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconImage</key>
		<string>https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5XWbpXQZhf-KI2fge5pXRN6IU7R24e1_aNGxHGHMCotnB4ipZ</string>
		<key>gridTitle</key>
		<string>Skateboard</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>icon_tattoo</string>
		<key>gridTitle</key>
		<string>Tattoo</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>icon_tshirt</string>
		<key>gridTitle</key>
		<string>T-Shirt</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>icon_phonecase</string>
		<key>gridTitle</key>
		<string>Phone Case</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>icon_notebook1</string>
		<key>gridTitle</key>
		<string>Notebook</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>icon_car</string>
		<key>gridTitle</key>
		<string>Car</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>icon_painting</string>
		<key>gridTitle</key>
		<string>Painting</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>icon_nailsalon</string>
		<key>gridTitle</key>
		<string>Nail Salon</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs5.gomein.net.cn/T1EvKvBv_v1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>领券中心</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs9.gomein.net.cn/T1hIKvBjEv1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>更多服务</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
</array>
</plist>
